@import "_variables.scss";

@import "typography.scss";

@mixin display-flex(){
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin media-min-width($width){
  @media (min-width: $width) {
    @content;
  }
}

html {
  font-size: 94.75%;

  @include media-min-width(40rem){
      font-size: 125%; 
  }
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.container {
  @include display-flex();
  flex: {
    direction: column;
    wrap: nowrap;
  }
  align-items: center;
  padding: $size-default * 3 0;
  box-sizing: border-box;
}

.sass-section{
  border: $border-default;
  background: lighten(map-get($colors, main), 72%);
  padding: $size-tiny * 2;
  text-align: center;
  width: 90%;
  box-sizing: border-box;
  @include media-min-width(40rem){
    width: 30rem; 
}
}

.sass-introduction {
  box-shadow: $size-tiny $size-tiny $size-tiny / 2 #ccc;
  p {
    margin: 0;
  }  
}


.sass-details {
  @extend .sass-section;
  margin: $size-default * 2 0;
}

.section-header {
  border-bottom: $size-tiny / 4 solid map-get($colors, main);
  h1 {
    margin: 0 0 $size-default 0;
  }
}

.documentation-links {
  list-style: none;
  margin: $size-default 0 0 0;
  padding: 0;
  @include display-flex();
  flex-direction: column;

  li {
    margin: $size-tiny 0;
    background: white;
  }
  .documentation-link {
    text-decoration: none;
    color: map-get($colors, main);
    display: block;
    padding: 0.2rem;
    border: 0.05rem solid map-get($colors, main);
    &:hover,
    &:active {
      color: white;
      background: map-get($colors, secondary);
      border-color: map-get($colors, secondary);
    }
  }
}

