body{
    font-family: sans-serif;  
}
h1 {
    color: blue;
    font-family: sans-serif;
}

code{
    font-family: monospace;
    color: red;
}

.text-green{
    color: green;
}

li + li {
    background: black;
    color: white;
}

ol li {
    background: black;
    color: white;
} 