body{
    font-family: 'Montserrat', sans-serif; 
    margin: 0px;
}

#product-overview{
    background: url("freedom.jpg");
    width: 100%;
    height: 528px;
    padding: 10px;
 }

.section-title{
    color: #2ddf5c;
}

h1{
    color: white;
    font-family: 'Anton', sans-serif;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

/* h1{
    font-family: sans-serif;
} */

.main-header{
    background: #2ddf5c;
    padding: 8px 16px;
    width: 100%; 
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand{
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

.main-nav{
    display: inline-block;
    text-align: right;
    width: calc(100% - 74px);
    vertical-align: middle;
}

.main-nav__items{
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item{
    display: inline-block;
    margin: 0px 16px;
}

.main-nav__item a {
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    padding: 3px 0px;
    
}

.main-nav__item a:hover,
.main-nav__item a:active{
    color: white;
    border-bottom: 5px solid white;
}

.main-nav__item--cta a{
    color: white;
    background:#ff1b68;
    padding: 8px 16px;
    border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
    color: #ff1b68;
    background: white;
    border: none;
}