div{
    padding: 15px 25px 35px 45px;
    border: 2px solid black;
    margin: 10px 20px 30px 40px;
    display: inline-block;
    
}

.first-div{
    height: 300px;
    width: 50%;
    visibility: hidden;
}

.div-two:hover{
    color: #ff1b68;
    background: green;
    border: none;
}